<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_6_0.xsd"
	version="3.0">
	<filter>
		<filter-name>MemcacheFilter</filter-name>
		<filter-class>com.incq.filter.MemcacheFilter
		</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>MemcacheFilter</filter-name>
		<url-pattern>/tags.jsp</url-pattern>
	</filter-mapping>
	<servlet>
		<servlet-name>AiPlugin</servlet-name>
		<servlet-class>com.incq.servlet.AiPlugin
		</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Openapi</servlet-name>
		<servlet-class>com.incq.servlet.Openapi
		</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>expandLanguageTask</servlet-name>
		<servlet-class>com.incq.servlet.cloudTask.ExpandLanguageTask
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AiPlugin</servlet-name>
		<url-pattern>/.well-known/ai-plugin.json</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Openapi</servlet-name>
		<url-pattern>/ai/openapi.yaml</url-pattern>
	</servlet-mapping>
		<servlet-mapping>
		<servlet-name>expandLanguageTask</servlet-name>
		<url-pattern>/tasks/expandLanguage</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>

	<!-- Add an error page for handling uncaught exceptions -->
	<error-page>
		<exception-type>java.lang.Throwable</exception-type>
		<location>/error.jsp</location>
	</error-page>
</web-app>